* {
	box-sizing: border-box;

}

html, body {
	margin: 0;
	
}

header, footer {
	background-color: purple;
	 

}
	.centered {
		color : white ;
		width: 50%;
		margin: auto;
		padding-top: 20px;
		padding-bottom : 20px;
		

}

header .subtitle {
	padding-left:0px;
	

}

h1 {
	text-transform: uppercase; 

}

ul {
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	line-height: 15px; 
}

ul li {
	width: 50%;
}

main {
	width: 40%;
	margin: auto;

}

section {

}
article {
	padding-bottom: 15px; 

}

h2 { color:purple; 
	padding-bottom: 15px;
	padding-top: 15px;
	box-shadow: 0px 1px 0px purple; }

h3 {
	padding-left: 20px; 
	color:purple;
	margin:0;
	font-weight: 800;
}

p { padding-left: 20px;
	font-size: 13px;
	margin:0;
  } .details { color:purple; 
  	}

.object { font-weight: 400;

}

.object:after {
	content: " | ";
}

footer h2 {
	color :white;
	box-shadow: 0px 0px 0px black

}